*,
a,
input,
button {
  box-sizing: border-box;
  font-family: Pangolin, 'MS Comic Sans', 'Calibri', 'Roboto', sans-serif;
  color: white;
}

html {
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom right, #7648ca, #df5f53);
  min-height: 100vh;
  color: black;
}

h1 {
  font-size: 3em;
}

a {
  font-size: 1.4em;
  color: lightblue;
}

a:visited {
  color: lightblue;
}

#player-list {
  list-style: none;
  padding-left: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  opacity: 1;
  transition: opacity 0.2s, height 0.2s;
  max-height: 90vh;
}

.page.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  min-height: 0;
}

#my-cards {
  display: flex;
  max-width: 60%;
  opacity: 0.3;
  transition: opacity 0.3s;
}

#my-cards.my-turn {
  opacity: 1;
}

.card-container {
  position: relative;
  width: 100px;
  height: 200px;
  min-width: 10px;
  transition: width 0.3s;
}

.card {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  background-color: rgb(238, 238, 238);
  border: 3px rgb(24, 24, 24) solid;
  width: 100px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  transform: translate(0px, 0px);
  transition: transform 0.3s;
}

#my-cards .card:hover {
  transform: translate(0px, -30px);
}

.card-container:hover {
  min-width: 30px;
}


#other-players {
  width: 90%;
  display: flex;
}

.player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}

.player .username {
  font-size: 1.7em;
}

.player .card-preview {
  display: flex;
}

.mini-card {
  width: 35px;
  height: 70px;
  border-radius: 5px;
  border: 3px rgb(59, 59, 59) solid;

  background-color: white;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.player.current {
  border: rgb(255, 214, 30) 2px solid;
  box-shadow: rgb(255, 214, 30) 0 0 20px inset;
}

#draw-deck {
  cursor: pointer;
  font-size: 30px;
  background-color: rgb(238, 238, 238);
  border: 3px rgb(24, 24, 24) solid;
  width: 100px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}

#draw-deck span {
  color: rgb(41, 41, 41);
}

.wide-panel {
  padding: 20px;
  width: 60%;
  display: flex;
}

#wild-question.hidden {
  display: none;
}

#wild-question {
  border: 3px rgb(24, 24, 24) solid;
  display: grid;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  grid-template-columns: 50% 50%;
  margin-left: 30px;
}

#wild-question button {
  display: block;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

#wild-question #wild-red {
  background-color: red;
}

#wild-question #wild-green {
  background-color: green;
}

#wild-question #wild-blue {
  background-color: blue;
}

#wild-question #wild-yellow {
  background-color: yellow;
}

#put-question {
  margin-left: 30px;
}

#put-question .choices {
  display: flex;
  flex-direction: column;
}

#put-question button {
  flex: 1;
  width: 80px;
  margin: 10px;
  background: #EEEEEE;
  color: black;
  font-size: 1.5em;
  border: 3px rgb(24, 24, 24) solid;
  border-radius: 10px;
}